html, body {
	height: 100%;
	font-size: 12px;
	margin: 0;
	color: #283848;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
	overflow-y: hidden;
}

body {
	overflow-y: auto;
}

header {
	width: 100%;
	background: #283848;
	color: white;
	padding: 1px 0;
	margin-bottom: 48px;
}

h1 {
	font-size: 18px;
	padding: 1px 48px ;
}

.content {
	margin: 0 auto;
	width: 720px;
}

article {

}

h2 {
	font-size: 30px;
}

p {
	margin: 0 0 10px;
	line-height: 1.4;
}

main {
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	background: #eaf4f4;
	padding: 20px 48px;
	border-radius: 12px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#from-PC--input {
	display: none;
}

#from-PC--label, button {
	background: #f79d04;
	padding: 10px 16px;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	opacity: 0.8;
}

span {
	padding: 0 20px;
	font-size: 14px;
}

.article-group {
	display: flex;
}

.article-group > * {
	margin-left: 10px;
	margin-right: 10px;
}

footer {
	border-top: 4px solid #eaf4f4;
	border-radius: 2px;
	text-align: center;
	padding: 15px;
	margin-top: 24px;
}

#area-editor {
	display: none;
	flex-direction: column;
}

#area-editor.--shown {
	display: flex;
}

.canvas {
	margin: 0 auto;
}

.canvas img {
	pointer-events: none;
}

#area-table {
	margin-top: 15px;
}

#area-table table{
	width: 100%;
}

button#add-area {
	display: block;
	margin-left: auto;
	padding: 5px 8px;
    font-size: 10px;
	background: #02b516;
	width: 85px;
}

button.remove-area {
	display: block;
	margin-left: auto;
	padding: 5px 8px;
    font-size: 10px;
	background: #ff3c00;
	width: 85px;
}

button#show-code {
	display: block;
	margin: 20px auto;
}

.modal--dim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(50, 50, 50, 0.3);
	backdrop-filter: blur(5px) sepia(30%);
}

.modal--window {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 800px;
	margin: 0 auto;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
	background:#eaf4f4;
	border-radius: 10px;
	box-shadow: black 2px 3px 12px;
}

.modal--header {
	font-size: 16px;
	padding: 14px;
	border-bottom: 1px solid gray;
}

.modal--content input{
	width: calc(100% - 32px);
	box-sizing: border-box;
	margin: 16px;
	font-size: 16px;
	padding: 8px;
}

.modal--footer {
	display: flex;
	justify-content: flex-end;
	padding: 14px;
}

.modal--button {
	margin-left: 5px;
}

.modal--button.--primary {

}

.code-output {
	margin: 15px;
	padding: 25px;
	background: lightgray;
	font-size: 14px;
	overflow: scroll;
}